main {
  height: 100vh;
  background-color: var(--verydarkblue);
  display: flex;
  justify-content: center;
  place-items: center;
}

.card {
  background-color: var(--darkblue);
  width: 40rem;
  height: 44rem;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
}
